body {
    margin: 0 auto;
    max-width: 1790px;
}

#page_title {
    background-color: rgb(7, 7, 71);
    color: white;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#page_header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 60px;
}

#mid_header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: flex-start;
    gap: 30px;
}

#mid_header a {
    color: white;
    text-decoration: none;
}

#header_right a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

#header_right {
    margin-top: 20px;
}

#jagsaalt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

#jagsaalt h2 {
    font-size: 40px;
}

.button {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    border: 5px solid grey;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    align-items: center;
    justify-content: space-around;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info p {
    margin-bottom: 5px;
    margin-top: 5px;
}

#info a {
    text-decoration: none;
}
#myModal{
    display:none; position:fixed; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.5);
}
#popUp {
    background: white;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    height: 550px;
}   